@font-face {
  font-family: 'kazimirtext-reguluploadedfile';
  src: url('../assets/kazimirtext-regular-webfont.woff2') format('woff2'),
       url('../assets/kazimirtext-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kazimirtext-lightuploadedfile';
  src: url('../assets/kazimirtext-light-webfont.woff2') format('woff2'),
       url('../assets/kazimirtext-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'kazimirtext-blackuploadedfile';
  src: url('../assets/kazimirtext-black-webfont.woff2') format('woff2'),
       url('../assets/kazimirtext-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    width: 95%;
    --horizontal: 10px;
    --vertical: 10px;
    overflow: hidden;
}

body, html {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'kazimirtext-reguluploadedfile', 'Sans-Serif';
    font-size: 1.5vw;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: fixed;
}

html {
    background-color: #000;
}

h2, h3 {
  font-family: 'kazimirtext-blackuploadedfile', 'Sans-Serif';
}

nav ul, footer ul, footer a {
    font-family:'kazimirtext-reguluploadedfile', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

footer a {
  font-size: 0.8vw;
}

a {
  color: #fff;
  font-size: 0.9vw;
  text-decoration: none;
  transition: color 2s;
}

a:hover {
    color: #000;
}
.post, .meta{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1.3vw;
}

.post a {
  color: #3C4746;
  font-size: 1.8vw;
  font-family: 'kazimirtext-blackuploadedfile', 'Sans-Serif';
  transition: color 2s;
}

.blurb a {
  color: #3C4746;
  font-size: 1.8vw;
  font-family: 'kazimirtext-blackuploadedfile', 'Sans-Serif';
  transition: color 2s;
}

.post a:hover {
  color: #fff;
}

.blurb a:hover {
  color: #fff;
}

h1 {
    font-size: 2em;
    font-family: 'kazimirtext-blackuploadedfile', 'Sans-Serif';
    color: #000;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #000;
}

footer {
    border-top: 1px solid #fff;
    font-size: .8em;
    width: 100%;
}

.foot {
    width: 80%;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
}

.content {
    border-image-source: url('../assets/frameborder1.png');
    background-size: cover;
    border-image-slice: 200;
    border-image-repeat: stretch;
    border-width: 90px;
    border-style: solid;
    height: 70%;
    width: 70%;
    margin-left: -50px;
    overflow: hidden;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar {
    height: 100%;
    width: 10%;
    padding: 5px;
    margin: 5px;
    display: flex;
    overflow: hidden;
    background-size: cover;
    position: relative;
    color: #fff;
    flex-direction: column;
}

nav ul li {
    display: flex;
    padding: 0.3vw;
}

nav img {
  width: 3vw;
  height: auto;
}
.pdfImg {
  z-index: 3;
  width: 60px;
  height: 74px;
  position: absolute;
  /* margin-left: 40vw; */
  margin-top: 28px;
  margin-left: 53vw;
}
.pdfImg img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border: 3px double #000;
}

.pdfImg:hover .overlayPdf {
  opacity: 1;
}

.overlayPdf {
  top: 8px;
  left: 3px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: .5s ease;
}

.overlayPdf img {
  max-width: 60%;
  height: auto;
  margin-left: 9px;
  margin-top: -20px;
}

.portrait {
  position: absolute;
  bottom: -6px;
  right: -20px;
  width: 50vh;
}

.portrait img {
  width: 100%;
}


.blurb {
  height: 100%;
  overflow: hidden;
  z-index: 2;
  position: relative;
  padding: 0;
}

#about {
  overflow: hidden;
}

.aboutPage {
  display: flex;
  flex-direction: row;
}

.extra {
  padding: 15px;
  width: 50%;
  position: absolute;
  left: 25px;
  background: #fff;
  border: 3px double #000;
}

.postContainer {
  background: #fff;
  border: 3px double #000;
  margin-left: 25px;
  margin-right: 25px;
  height: 72%;
  bottom: 25px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#projectlist img {
  width: 14vw;
  float: left;
  margin-right: 8px;
  margin-top: 5px;
}

.social { 
  position: absolute;
  margin-left: 5px;
  bottom: 5px; 
}

.name {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    letter-spacing: 1vmax;
    line-height: 6vmax;
    padding-right: 10px;
    padding-left: 10px;
}

.name h1 {
  font-size: 7.2vw;
  font-family:'kazimirtext-reguluploadedfile', 'Sans-Serif';
  color: #000;
}

#max {
  font-size: 7.8vw;
  font-family:'kazimirtext-blackuploadedfile', 'Sans-Serif';
}

.tech {
  background: #000;
  color: #fff;
  border: 3px double #fff;
}

.imgloaded h1 {
  animation-name: glitch-text;
  animation-delay: 2s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.glitchContainer {
  position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   z-index: -1;
}

.glitch {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 110%;
  height: 110%;
  background: url('../assets/ocean1.png');
  background-size: cover;
  transform: translate3d(0px, 0, 0);
  background-blend-mode: none;
}

.glitch:nth-child(n+2) {
  opacity: 0;
}

.imgloaded .glitch:nth-child(n+2) {
  animation-duration: 4s;
  animation-delay: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.imgloaded .glitch:nth-child(2) {
  background-color: #7d948e;
  background-blend-mode: overlay;
  animation-name: glitch-1;
}

.imgloaded .glitch:nth-child(3) {
  background-color: transparent;
  background-blend-mode: none;
  animation-name: glitch-2;
}

.imgloaded .glitch:nth-child(4) {
  background-color: transparent;
  background-blend-mode: none;
  animation-name: glitch-3;
}

.imgloaded .glitch:nth-child(5) {
  background-color: #af4949;
  background-blend-mode: overlay;
  animation-name: glitch-flash;
}

@keyframes glitch-text {
  0% {
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
    clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
   } 
  2% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
   } 
  4% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
   }
  5% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
   } 
  6% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
   } 
  7% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
   }  
  8% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
   } 
  9% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
   } 
  9.9% {
    transform: translate3d(-10px, 0, 0) scale3d(-1, -1, 1);
   } 
  10%, 100% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }
}

@keyframes glitch-1 {
  0% {
    opacity: 1;
    transform: translate3d(10px, 0, 0);
    clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
  }
  2% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  4% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  } 
  6% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  } 
  8% {
    clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
  } 
  10% {
    clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
  }
  12% {
    clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
  } 
  14% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  16% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  18% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  20% {
    clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
  } 
  21.9% {
    opacity: 1;
    transform: translate3d(10px, 0, 0);
  } 
  22%, 100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  } 
}

@keyframes glitch-flash {
  0%, 5% {
      opacity: 0.2;
      transform: translate3d(10px, 10px, 0);
  } 
  5.5%, 100% {
      opacity: 0;
      transform: translate3d(0, 0, 0);
  } 
} 

.tabs {
  left: 10px;
  right: 10px;  
  float: none;
  list-style: none;
  position: relative;
  margin: 5px 0 0 0;
  text-align: left;
} 

.tabGroup {
  margin-top: -30px;
}

.tabs li {
  float: left;
  display: block;
  color: #000;
}

input[type="radio"] {
  position: absolute;
  top: 0;
  left: -9999px;
}

label {
  display: block;
  padding: 5px 5px;
  border-radius: 2px 2px 0 0;
  font-size: 1vw;
  font-weight: normal;
  text-transform: uppercase;
  background: #3C4746;
  color: #fff;
  cursor: pointer;
  position: relative;
  top: 30px; 
  left: -10px;
  transition: color 2s;
}

label:hover {
  color: #000;
}

.tab-content {
  z-index: 2;
  display: none; 
  overflow: hidden;
  left: 0px;
  right: 35px;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;  
  position: absolute;
  top: 53px;
  left: 15px; 
  background: #fff;
  border: 3px double #000;
}

[id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

[id^="tab"]:checked + label {
  z-index: 3;
  background: #fff;
  color: #000;
  border-top: 3px double #000;
  border-left: 3px double #000;
  border-right: 3px double #000;
  top: 24px;
}

.tabs p.link {
  clear: both;
  margin: 380px 0 0 15px;
}

.tabs p.link a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0px 5px;
  transform: transition(all 0.2s ease-in);
}

@media only screen and (orientation: portrait) {

  .portrait {
    width: 40vw;
    margin-right: 8vw;
  }

  .aboutPage {
    flex-direction: column;
  }

  .extra {
    height: 60%;
    width: 4vw;
    right: 25px;
    font-size: 2vh;
  }

  .content {
    border-image-source: url('../assets/frameborder2.png');
  }

  .post {
    font-size: 3vw;
  }
  .name {
    padding-left: 0px;
    top: 19%;
  }
  .name h1 {
    font-size: 7.4vw;
    letter-spacing: 0.7vw;
  }
  #max {
    font-size: 7.8vw;
    font-family:'kazimirtext-blackuploadedfile', 'Sans-Serif';
  }
}

