<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<!-- <div id="loader" class="loading">
			<div class="loading-logo">🌙</div>
		</div> -->
		<div class="container">
			<div class="navbar">
				<nav>
					/  / NAVIGATE
					<ul>
						<li><a href="/"><img src="../assets/linkfl1.png">HOME</a></li>
						<li><a href="/about/"><img src="../assets/linkfl2.png">ABOUT</a></li>
						<li><a href="/cv/"><img src="../assets/linkfl3.png">CV</a></li>
						<li><a href="/blog/"><img src="../assets/linkfl4.png">BLOG</a></li>
					</ul>
				</nav>
				<br>
				<div class="foot">
					<footer>
					<ul>
						<li><a href="mailto:turermax@gmail.com">EMAIL</a></li>
						<li><a href="https://github.com/caxwel">GITHUB.COM/CAXWEL</a></li>
					</ul>
				</footer>
				</div>
			</div><!-- /.navbar -->
			<div class="main">
			<div class="content">
				<div class="glitchContainer">
					<div class="glitch"></div>
					<div class="glitch"></div>
					<div class="glitch"></div>
					<div class="glitch"></div>
					<div class="glitch"></div>
				</div>
			{{ content }}
			</div><!-- /.content -->
		</div><!-- /.main -->
		</div><!-- /.container -->

		<script>
			window.addEventListener("load", 
	 function(event) {
				document.body.classList.
	 add('imgloaded');
			});
	 </script>
	</body>
</html>
